<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="text-center" style="margin-bottom: 30px;">
      <h2>Log in to Medium</h2>
      <p style="color: #7ac673; font-size: 16px;">This page uses 128-bit encryption</p>
    </div>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %> <span>Your email address</span>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <span>Your password</span>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <p>Don't have an account? <%= link_to "Register", register_path %></p>
      <%= f.submit "Log in", class: "btn btn-success btn-lg btn-block" %>
    <% end %>
  </div>
</div>
