<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<% @posts.each do |post| %>
  <div id="<%= dom_id(post) %>">
    <%= post.title %> 
    <% if current_user == post.user %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
<div class="recommendations">
  <h3>Recommended by <%= @user.first_name %> <%= @user.last_name %></h3>
  <% @recommendations.each do |recommendation| %>
    <div>
      <%= link_to recommendation.post.title, recommendation.post %><br>
      <%= recommendation.post.user.first_name %> <%= recommendation.post.user.last_name %>
    </div>
  <% end %>
</div>