<h1 class="hero-title">Your stories</h1>
<%= render 'links' %>
<% @posts.each do |post| %>
  <div class="row post-block">
    <% if post.attachment.exists? %>
    <div class="col-sm-2">
      <%= image_tag(post.attachment.url(:thumb)) %>
    </div>
    <% end %>
    <div class="col-sm-10">
      <h3><%= link_to post.title, post %></h3>
      <% if post.subtitle %>
        <p class="subtitle"><%= link_to post.subtitle, post %></p>
      <% end %>
      <p class="text-muted">Published <%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
  </div>
<% end %>