<h2>Edit <%= @post.title %></h2>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.file_field :attachment, as: :file %>
  Draft <%= f.radio_button :draft, true %>
  Publish <%= f.radio_button :draft, false %>
  <%= f.submit "Submit Story", class: "btn btn-success", id: "submit-btn", style: "display:none" %>
<% end %>