<div id="<%= "wrapper" if @post.attachment.exists? %>" class="post" style="background: url('<%= @post.attachment %>');
        -webkit-background-size: cover; -moz-background-size: cover; 
        -o-background-size: cover; background-size: cover;">
  <%= render 'layouts/header_posts' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= value %>
      </div>
    <% end %> 
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 <%= 'style=color:#333' unless @post.attachment.exists? %>><%= @post.title %></h1>
        <h3 <%= 'style=color:#333' unless @post.attachment.exists? %>><%= @post.subtitle %></h3>
        <p <%= 'style=color:#333' unless @post.attachment.exists? %>>  by <%= @post.user.first_name %> <%= @post.user.last_name %></p>        
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="main-content">
        <div class="content">
          <%= @post.content %>
        </div>
        <div class="recommend">
          <% if signed_in? %>
            <% if Recommend.where(user_id: current_user.id, post_id: @post.id).any? %>
              <%= link_to "Recommended", downvote_post_path(@post), method: :delete %>
            <% else %>
              <%= link_to "Recommend", upvote_post_path(@post), method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>